In [29]:
import pandas as pd
from konlpy.tag import Okt
from collections import Counter
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import wordcloud
import re

df=pd.read_csv('./행정동별_유흥분야_소비인구_201127.csv',encoding='utf-8')

In [30]:
df

,gov_dn_cd,bntr_nm,signgu_nm,adstrd_nm,de,sex_se,year_se,cnsmr_popltn_co
0,1111053000,서울특별시,종로구,사직동,20200804,X,xx,29.972110
1,1111053000,서울특별시,종로구,사직동,20200807,M,50,22.479082
2,1111053000,서울특별시,종로구,사직동,20200807,X,xx,22.479082
3,1111053000,서울특별시,종로구,사직동,20200808,X,xx,22.479082
4,1111053000,서울특별시,종로구,사직동,20200811,M,60,22.479082
...,...,...,...,...,...,...,...,...
37404,5013061000,제주특별자치도,서귀포시,중문동,20200915,M,30,22.479082
37405,5013061000,제주특별자치도,서귀포시,중문동,20200918,M,25,22.479082
37406,5013061000,제주특별자치도,서귀포시,중문동,20200922,M,30,22.479082
37407,5013061000,제주특별자치도,서귀포시,중문동,20201007,M,20,22.479082
37408,5013061000,제주특별자치도,서귀포시,중문동,20201010,M,25,37.465137

In [7]:
df1=pd.read_csv('./유동인구.csv',encoding='cp949')
df1

    Unnamed: 0   자치구  스타벅스매장수   사업체수    종사자수  대중교통1일이용객수   구별인구수
0            1   종로구       41  39679  260446      283986  161869
1            2    중구       56  60127  392568      327000  136488
2            3   용산구       21  20254  135240      183323  245185
3            4   성동구       10  28343  178243      165601  308979
4            5   광진구       16  24445  126305      212473  366972
5            6  동대문구        9  31324  138400      203618  363023
6            7   중랑구        8  28228  103345      144365  402024
7            8   성북구       14  23617  111005      234382  454744
8            9   강북구        6  19014   73904      183954  317695
9           10   도봉구        3  18628   72939      134398  335631
10          11   노원구       13  26618  116684      211668  537303
11          12   은평구        8  24681   93631      209803  484546
12          13  서대문구       20  20095  113819      191508  323171
13          14   마포구       32  37290  247276      320325  385925
14          15   양천구       17  25894  121582      152315  462285
15          16   강서구       20  39458  257494      229160  598273
16          17   구로구       11  38756  225668      241704  439371
17          18   금천구       11  33814  242686      107472  251820
18          19  영등포구       39  42370  373478      286963  400986
19          20   동작구       11  19793  106159      232535  408912
20          21   관악구       11  25505  115329      362357  517334
21          22   서초구       48  46940  438985      388991  435107
22          23   강남구       86  71027  698840      388965  550209
23          24   송파구       33  48644  341201      321916  682741
24          25   강동구       16  29080  141770      158597  440390

In [9]:
a=df1.loc[:,'자치구']
b=df1.loc[:,'대중교통1일이용객수']
c=df1.loc[:,'구별인구수']
people=pd.concat([a,b,c],axis=1)
people

     자치구  대중교통1일이용객수   구별인구수
0    종로구      283986  161869
1     중구      327000  136488
2    용산구      183323  245185
3    성동구      165601  308979
4    광진구      212473  366972
5   동대문구      203618  363023
6    중랑구      144365  402024
7    성북구      234382  454744
8    강북구      183954  317695
9    도봉구      134398  335631
10   노원구      211668  537303
11   은평구      209803  484546
12  서대문구      191508  323171
13   마포구      320325  385925
14   양천구      152315  462285
15   강서구      229160  598273
16   구로구      241704  439371
17   금천구      107472  251820
18  영등포구      286963  400986
19   동작구      232535  408912
20   관악구      362357  517334
21   서초구      388991  435107
22   강남구      388965  550209
23   송파구      321916  682741
24   강동구      158597  440390

In [13]:
people=people.sort_values(by='대중교통1일이용객수', ascending=False)
people.to_csv('./서울시_대중교통1일이용객수.csv')

In [14]:
df

,gov_dn_cd,bntr_nm,signgu_nm,adstrd_nm,de,sex_se,year_se,cnsmr_popltn_co
0,1111053000,서울특별시,종로구,사직동,20200804,X,xx,29.972110
1,1111053000,서울특별시,종로구,사직동,20200807,M,50,22.479082
2,1111053000,서울특별시,종로구,사직동,20200807,X,xx,22.479082
3,1111053000,서울특별시,종로구,사직동,20200808,X,xx,22.479082
4,1111053000,서울특별시,종로구,사직동,20200811,M,60,22.479082
...,...,...,...,...,...,...,...,...
37404,5013061000,제주특별자치도,서귀포시,중문동,20200915,M,30,22.479082
37405,5013061000,제주특별자치도,서귀포시,중문동,20200918,M,25,22.479082
37406,5013061000,제주특별자치도,서귀포시,중문동,20200922,M,30,22.479082
37407,5013061000,제주특별자치도,서귀포시,중문동,20201007,M,20,22.479082
37408,5013061000,제주특별자치도,서귀포시,중문동,20201010,M,25,37.465137

In [31]:
#>>> DataFrame명[DataFrame명['칼럼명'] == 값]
df=df[df['bntr_nm']=='서울특별시']

In [32]:
#df.to_csv('./서울시유흥소비인구.csv')
df

,gov_dn_cd,bntr_nm,signgu_nm,adstrd_nm,de,sex_se,year_se,cnsmr_popltn_co
0,1111053000,서울특별시,종로구,사직동,20200804,X,xx,29.972110
1,1111053000,서울특별시,종로구,사직동,20200807,M,50,22.479082
2,1111053000,서울특별시,종로구,사직동,20200807,X,xx,22.479082
3,1111053000,서울특별시,종로구,사직동,20200808,X,xx,22.479082
4,1111053000,서울특별시,종로구,사직동,20200811,M,60,22.479082
...,...,...,...,...,...,...,...,...
7085,1174068500,서울특별시,강동구,길동,20201031,M,25,29.972110
7086,1174068500,서울특별시,강동구,길동,20201031,M,40,37.465137
7087,1174068500,서울특별시,강동구,길동,20201031,M,50,22.479082
7088,1174068500,서울특별시,강동구,길동,20201031,M,60,22.479082
7089,1174068500,서울특별시,강동구,길동,20201031,X,xx,67.437247

In [38]:
df=df[df['de']==20200807]
df

,gov_dn_cd,bntr_nm,signgu_nm,adstrd_nm,de,sex_se,year_se,cnsmr_popltn_co
1,1111053000,서울특별시,종로구,사직동,20200807,M,50,22.479082
2,1111053000,서울특별시,종로구,사직동,20200807,X,xx,22.479082
83,1111061500,서울특별시,종로구,종로1.2.3.4가동,20200807,F,25,29.972110
84,1111061500,서울특별시,종로구,종로1.2.3.4가동,20200807,F,30,37.465137
85,1111061500,서울특별시,종로구,종로1.2.3.4가동,20200807,F,35,29.972110
...,...,...,...,...,...,...,...,...
6887,1174062000,서울특별시,강동구,천호3동,20200807,F,25,37.465137
6888,1174062000,서울특별시,강동구,천호3동,20200807,M,25,29.972110
6964,1174068500,서울특별시,강동구,길동,20200807,M,35,37.465137
6965,1174068500,서울특별시,강동구,길동,20200807,M,55,29.972110
6966,1174068500,서울특별시,강동구,길동,20200807,X,xx,59.944220

In [ ]:
df=df.drop(columns=['sex_se', 'year_se'], axis=1)

In [54]:
df=df.drop(columns=['gov_dn_cd'], axis=1)

In [57]:
g=df.drop(columns=['bntr_nm','de'], axis=1)

In [62]:
g

     signgu_nm    adstrd_nm  cnsmr_popltn_co
1          종로구          사직동        22.479082
2          종로구          사직동        22.479082
83         종로구  종로1.2.3.4가동        29.972110
84         종로구  종로1.2.3.4가동        37.465137
85         종로구  종로1.2.3.4가동        29.972110
...        ...          ...              ...
6887       강동구         천호3동        37.465137
6888       강동구         천호3동        29.972110
6964       강동구           길동        37.465137
6965       강동구           길동        29.972110
6966       강동구           길동        59.944220

[215 rows x 3 columns]

In [64]:
z=g.groupby('signgu_nm').sum()

In [67]:
z1=z.sort_values(by='cnsmr_popltn_co', ascending=False)

In [69]:
z1.to_csv('./서울시자치구_유흥인구.csv')

In [70]:
z1

           cnsmr_popltn_co
signgu_nm
서초구            1431.168246
강남구            1303.786779
관악구             921.642378
종로구             839.219076
강서구             734.316692
송파구             636.907335
영등포구            621.921280
강북구             532.004950
강동구             509.525868
은평구             269.748989
노원구             247.269906
성동구             239.776879
마포구             224.790824
용산구             194.818714
광진구             149.860549
동대문구             97.409357
서대문구             89.916330
중구               89.916330
구로구              67.437247
중랑구              67.437247
동작구              52.451192
성북구              44.958165
금천구              44.958165
도봉구              22.479082

In [ ]:
people